<h4>Add a comment!</h4>
<%= form_for comment do |f| %>
	<%= f.hidden_field :parent_comment_id, value: parent_comment_id %>
	<%= f.hidden_field :post_id, value: post_id %>
	<%= f.text_area :content %>
	<%= f.submit "Submit" %>
<% end %>